<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- <link rel="icon" href="%PUBLIC_URL%/favicon.ico" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Web site created using create-react-app"
    />
    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />
    <!--
      manifest.json provides metadata used when your web app is installed on a
      user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
    
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Librairie LBU</title>

    <meta name="keywords" content="Librairie LBU" />
    <meta name="description" content="Librairie LBU - La premiere librairie en ligne">
    <meta name="author" content="okler.net">
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="%PUBLIC_URL%/logolbu.ico" type="image/x-icon" />
    
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    
    <!-- Web Fonts  -->
    <link id="googleFonts"
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light&display=swap"
      rel="stylesheet" type="text/css">
    
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="%PUBLIC_URL%/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="%PUBLIC_URL%/assets/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="%PUBLIC_URL%/assets/vendor/animate/animate.compat.css">
    <link rel="stylesheet" href="%PUBLIC_URL%/assets/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="%PUBLIC_URL%/assets/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="%PUBLIC_URL%/assets/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="%PUBLIC_URL%/assets/vendor/magnific-popup/magnific-popup.min.css">
    <link rel="stylesheet" href="%PUBLIC_URL%/assets/vendor/bootstrap-star-rating/css/star-rating.min.css">
    <link rel="stylesheet" href="%PUBLIC_URL%/assets/vendor/bootstrap-star-rating/themes/krajee-fas/theme.min.css">
    
    
    <!-- Theme CSS -->
    <link rel="stylesheet" href="%PUBLIC_URL%/assets/css/theme.css">
    <link rel="stylesheet" href="%PUBLIC_URL%/assets/css/theme-elements.css">
    <link rel="stylesheet" href="%PUBLIC_URL%/assets/css/theme-blog.css">
    <link rel="stylesheet" href="%PUBLIC_URL%/assets/css/theme-shop.css">
    
    <!-- Current Page CSS -->
    <link rel="stylesheet" href="%PUBLIC_URL%/assets/vendor/circle-flip-slideshow/css/component.css">
    
    <!-- Skin CSS -->
    <link id="skinCSS" rel="stylesheet" href="%PUBLIC_URL%/assets/css/skins/default.css">
    <!-- <link rel="stylesheet" href="owlcarousel/owl.carousel.min.css" /> -->
    
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="%PUBLIC_URL%/assets/css/custom.css">
    
    <!-- Head Libs -->
    <script src="%PUBLIC_URL%/assets/vendor/modernizr/modernizr.min.js"></script>
    
  </head>
  <body>
    <div id="root"></div>
   
    <script src="%PUBLIC_URL%/assets/vendor/jquery/jquery.min.js"></script>
    <script src="%PUBLIC_URL%/assets/vendor/jquery.appear/jquery.appear.min.js"></script>
    <script src="%PUBLIC_URL%/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="%PUBLIC_URL%/assets/vendor/jquery.cookie/jquery.cookie.min.js"></script>
    <script src="%PUBLIC_URL%/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="%PUBLIC_URL%/assets/vendor/jquery.validation/jquery.validate.min.js"></script>
    <script src="%PUBLIC_URL%/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script src="%PUBLIC_URL%/assets/vendor/jquery.gmap/jquery.gmap.min.js"></script>
    <script src="%PUBLIC_URL%/assets/vendor/lazysizes/lazysizes.min.js"></script>
    <script src="%PUBLIC_URL%/assets/vendor/isotope/jquery.isotope.min.js"></script>
    <script src="%PUBLIC_URL%/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="%PUBLIC_URL%/assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="%PUBLIC_URL%/assets/vendor/vide/jquery.vide.min.js"></script>
    <script src="%PUBLIC_URL%/assets/vendor/vivus/vivus.min.js"></script>
    <script src="%PUBLIC_URL%/assets/vendor/bootstrap-star-rating/js/star-rating.min.js"></script>
    <script src="%PUBLIC_URL%/assets/vendor/bootstrap-star-rating/themes/krajee-fas/theme.min.js"></script>
    <script src="%PUBLIC_URL%/assets/vendor/jquery.countdown/jquery.countdown.min.js"></script>
    
    <!-- Theme Base, Components and Settings -->
    <script src="%PUBLIC_URL%/assets/js/theme.js"></script>
    
    
    <!-- Current Page Views -->
    <script src="%PUBLIC_URL%/assets/js/views/view.home.js"></script>

    <!-- Current Page Vendor and Views -->
    <script src="%PUBLIC_URL%/assets/js/views/view.shop.js"></script>
    
    <!-- Theme Custom -->
    <script src="%PUBLIC_URL%/assets/js/custom.js"></script>
    
    
    <!-- Theme Initialization Files -->
    <script src="%PUBLIC_URL%/assets/js/theme.init.js"></script>


    <script src="%PUBLIC_URL%/assets/vendor/bootstrap-star-rating/js/star-rating.min.js"></script>
    <script src="%PUBLIC_URL%/assets/vendor/bootstrap-star-rating/themes/krajee-fas/theme.min.js"></script>
    <script src="%PUBLIC_URL%/assets/vendor/jquery.countdown/jquery.countdown.min.js"></script>
    <script src="%PUBLIC_URL%/assets/vendor/elevatezoom/jquery.elevatezoom.min.js"></script>

    <!-- Examples -->
    <script src="%PUBLIC_URL%/assets/js/examples/examples.gallery.js"></script>

    <!-- Current Page Vendor and Views -->
    <script src="%PUBLIC_URL%/assets/js/examples/examples.forms.js"></script>
    <script src="jquery.min.js"></script>
  <!-- <script src="owlcarousel/owl.carousel.min.js"></script> -->
  <script src="%PUBLIC_URL%/assets/js/examples/examples.carousels.js"></script>	

  <script>
    $(document).ready(function(){
    $('.owl-carousel').owlCarousel();
  });
  </script>
  <script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/10.3.0/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.3.0/firebase-analytics.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries
  
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
      apiKey: "AIzaSyCPE_u2xVFO-csG2LDe3oivyvImRmDgRBg",
      authDomain: "lbu-app.firebaseapp.com",
      projectId: "lbu-app",
      storageBucket: "lbu-app.appspot.com",
      messagingSenderId: "926708914216",
      appId: "1:926708914216:web:62e97ba379fc13ac393d1d",
      measurementId: "G-14BM77M60G"
    };
  
    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
  </script>
  </body>
</html>
